$silver: #E1E1E1;

.container {
  padding: 0px 5vw;
  padding-top: 80px;
  justify-content: flex-start !important;
}

.header {
  color: $silver;
  font-size: 4.5rem;
  font-weight: 700;
  align-self: start;
  margin: 0px;
  margin-top: 40px;
}

.skills {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto 0px;
  padding-bottom: 10vh;
  
  .col {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
  }
  .col:first-child {
    margin-right: 30px;
  }
  .col:last-child {
    margin-left: 30px;
  }
}

.skill {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3vh;

  .skillName {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
  }

  .skillContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 100%;
    margin-left: 15px;
  }

  .progress {
    width: 100%;
    background-color: white;
    height: 30px;
    border-radius: 10px;
    position: relative;
    margin-top: 5px;
  }

  .progressFill {
    background-color: #60e2d2;
    position: absolute;
    height: 30px;
    top: 0px;
    left: 0px;
    width: 0px;
    border-radius: 10px;
  }
}

@media screen and (max-height: 700px) {
  .skill:nth-child(1) {
    scroll-snap-align: start;
    padding-top: 80px;
  }
}

@media screen and (max-height: 460px) {
  .skill:nth-child(3) {
    scroll-snap-align: start;
    padding-top: 80px;
    margin-top: -20px !important;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .skills {
    flex-direction: column;
  }
  .skill:nth-child(1), .skill:nth-child(3) {
    scroll-snap-align: none;
    padding-top: 0px !important;
    margin-top: 0px !important;
  }
  .col {
    flex: 1 1 100% !important;
    margin: 0px !important;
    scroll-snap-align: start;
    padding-top: 80px;
    margin-top: -60px !important;
  }
  .col:last-child {
    margin-top: 0px !important;
  }
}